[package]
name = "geos"
version = "4.1.0"
authors = ["Matthieu Viry <matthieu.viry@cnrs.fr>", "Adrien Matissart <a.matissart@qwantresearch.com>", "Antoine Desbordes <antoine.desbordes@gmail.com>", "Guillaume Pinot <texitoi@texitoi.eu>", "Guillaume Gomez <guillaume1.gomez@gmail.com>"]
license = "MIT"
repository = "https://github.com/georust/geos"
keywords = ["geos", "libgeos", "geometry", "geography", "gis"]
categories = ["external-ffi-bindings", "algorithms"]
description = "Rust bindings for GEOS C API"
readme = "README.md"
build = "build.rs"

[features]
geo = ["geo-types", "wkt"]

[dependencies]
libc = "0.2"
num = "0.2"
c_vec = "1.3"
geo-types = { version = "0.4", optional = true }
wkt = { version = "0.5", optional = true }
geos-sys = "1.0"

[build-dependencies]
skeptic = "0.13"

[dev-dependencies]
skeptic = "0.13"
